@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

*{
  font-family: 'Nanum Gothic Coding', monospace;
}

html, body{
	height:100%;
	width:100%;
}

body{
	/* margin : 30px; */
	background-color: #000000;
}

.container{
	width:100%;
	height:100%;
}

.center{
	margin:0 auto;
	width:60%;
	background-color: #a2a2a255;
	border-radius: 10px;
	height:100%;
	/* padding-right:10%; */
}

.center > h1{
	padding-top: 8%;
	padding-left: 10%;
	color:rgb(255, 255, 255);
}

.center > button{
	float: right;
	cursor: pointer;
	border:none;
}

.left{
	float: left;
	width: 18%;
	border-radius: 10px;
	/* background-color: #fff; */
	height:100%;
}

.serch{
	width : 25%;
	margin: 0 auto;
}

.list{
	width : 90%;
	display:inline-block;
	/* background-color: #fff; */
	margin-bottom: 50px;
	padding-left:5%;
}

.content{
        /* margin-top : 150px; */
}

.bold{
	font-weight : bold;
}
	
.thumbnail1{
	height: 50px;
	width: 80px;
	object-fit: fill;
} 

.tb{
	width: 100%;
    border-top: 1px solid #000;
    border-collapse: collapse;
}

tr:hover:not(.tb) { background-color: #ababab6d; }

th, td {
	color: #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.ment{
	color: orange;
	font-size: 13px;
	margin-left: 3px;
}

.title{
	color: black;
}

button{
	border:none;
}

.writebtn{
	width: 80px;
	height : 30px;
	margin-right: 6%;
	margin-bottom: 6%;
	background-color: #404242;
	border-radius: 10px;
	color: #fff;
	
}

.footer{
	text-align: center;
	padding-bottom: 5px;
}

/* 페이징 css */
.page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	/* background-color:#fff; */
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid ;
}
.page_nation .pprev {
	background:#f8f8f8 url('../../board/image/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('../../board/image/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('../../board/image/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('../../board/image/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.container .left .sidebar a,
.center .list th,
.center .list td{
	color:white;
}

.container .center .page_wrap .page_nation a{
	text-decoration:none;
	border:none;
	background-color: #000000;
}